__pycache__/
*.py[cod]
*.so

.venv/
.env/
venv/

.ipynb_checkpoints/

*.csv
*.tsv
*.zip
*.tar.gz
*.h5
*.npz
*.pkl
*.npy
*.log

*.h5
*.keras
*.ckpt
checkpoint/

.env

.DS_Store
Thumbs.db

.vscode/

*.out
